<div class='add-item-container'>
    <mat-card *ngIf='isUserAuthenticated && !isLoading'>
        <button mat-raised-button color="accent" (click)='isAddNewformVisible = false' *ngIf='isAddNewformVisible'>
            Add new Item
        </button>
        <button mat-raised-button color="accent" (click)='isAddNewformVisible = true' *ngIf='!isAddNewformVisible'>
            Hide Item
        </button>
        <mat-spinner *ngIf='isLoading'></mat-spinner>
        <mat-card *ngIf='!isAddNewformVisible && !isLoading'>
            <!-- <mat-spinner *ngIf='isLoading'></mat-spinner> -->
            <form [formGroup]='form' (submit)='onAddNewItem()'>
                <mat-form-field>
                    <input matInput formControlName='itemName' placeholder='Item Name' />
                    <mat-error *ngIf="form.get('itemName').invalid"> Item Name is required </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Item Type</mat-label>
                    <mat-select matInput formControlName='itemType' name="itemType">
                        <mat-option *ngFor="let item of itemType" [value]="item.value">
                            {{item.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName='provider' placeholder='Provider' />
                    <mat-error *ngIf="form.get('provider').invalid"> Provider name is required </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName='qty' placeholder='Quantity' />
                    <mat-error *ngIf="form.get('qty').invalid"> Quantity is required </mat-error>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput formControlName='availableDate' placeholder='Available Date'
                        [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="form.get('availableDate').invalid"> Available date is required </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName='location' placeholder='Location' />
                    <mat-error *ngIf="form.get('location').invalid"> Location is required </mat-error>
                </mat-form-field>
                <div>
                    <button type='submit' mat-raised-button color="accent">Save Item</button>
                </div>
            </form>
        </mat-card>
    </mat-card>
</div>